body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.reservation-form {
    /* padding-top: 100px; */
    /* width: 100vw; */
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {    
    margin: 10px;
}

form > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    padding-bottom: 25px;
}

footer {        
    height: 12vh;
    width: 100vw;
    margin-top: auto;
    background-color: #00003C;
    /* position: fixed;
    bottom: 0; */
}

.btn {
    background-color: #D4AD68;
    border: #D4AD68 ;
}

.btn:hover {
    background-color: #00003C;
}

.safra,
.ada,
.lets-code,
.developers {
    /* position: absolute; */
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .developers {
    flex-direction: row;
} */

.developers-container {
    justify-content: flex-start;
}

.developers > article {
    color: white;
}

.developers a {
    color: white;
    text-decoration: none;
}

/* font-family: "Roboto Slab"; */
/* #d4ad68 */

/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 
               0px 4px 5px rgba(0, 0, 0, 0.12), 
               0px 1px 10px rgba(0, 0, 0, 0.2);
*/

/* img {
    max-width: 100%;
    height: auto;
} */