body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.reservation-form {
    /* padding-top: 100px; */
    /* width: 100vw; */
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {    
    margin: 10px;
}

form > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    padding-bottom: 25px;
}

footer {        
    height: 12vh;
    width: 100%;
    margin-top: auto;
    background-color: #00003C;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* position: fixed;
    bottom: 0; */
}

.btn {
    background-color: #D4AD68;
    border: #D4AD68 ;
}

.btn:hover {
    background-color: #00003C;
}

.logos {
    /* height: 60%; */
    width: 75%;/* dbs */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact{
    width: 25%;
    display: flex;
    justify-content: center
}

.developers-container {
    display: flex; 
    flex-direction: column;     
    /* gap: 20px; */
    justify-content: space-between;  
   /*  max-width: 50%; */
    /* margin: auto; */
  /*  align-items: center; */
}

.developers > article {
    color: white;
}

.developers a {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 768px){

    footer {        
        flex-direction: column;
    }
    
    .logos {
        width: 100%;
    }
    
    .contact{
        width: 100%;
    }

    .developers-container {
        flex-direction: row;     
        gap: 20px;
    }
}