* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}